.blue{
    color:blue;
}
.green{
    color: green;
}
.bigFont{
    font-size:40px;
    font-weight: bold;
}
body{
   background-color:chartreuse;
    padding:0px;
}
.container{
    display :inline-grid;
    justify-items: center;
}
.acteur{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    border: 1px  #cccccc;
    border-radius-resize: both;
}
.retro {
    display : flex;
    flex-direction: column;
    justify-content:center;
    margin: 10%
}
.em{
    display:grid;
    grid-column: auto;
    align-items: stretch;
}
#gui{
    width:400px;
}
.uiform {
    margin:1em;
    text-align: center;


}
